html {
    scroll-behavior: smooth;

    body {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;

        main {
            width: 90%;
            height: auto;
            margin: 0 auto;

            /*Snap Scroll Needs main with a heaight of 100vh, but doens't work on Safri
            display: flex;
            flex-direction: column;
            scroll-snap-type: y mandatory;
            overflow-y: scroll;
            cursor: scroll;*/

            /*Section containers*/
            .outer-section {
                width: 100%;
                height: 100vh;
                margin: 0;
                display: flex;
                flex-flow: column nowrap;
                /*scroll-snap-align: start;*/

                /*prev & next page arrows*/
                .arrow-container {
                    width: 100%;
                    height: 5vh;
                    margin: 10px 0;
                    text-align: center;

                    .arrow-prev {
                        @include links($lightgrey, $grey, $pink);

                        a {
                            i {
                                vertical-align: top;
                            }
                        }
                    }

                    .arrow-next {
                        @include links($lightgrey, $grey, $pink);
                    }
                }

                /*Inner sections*/
                .inner-section {
                    width: 100%;
                    height: 90vh;
                    display: flex;
                    flex-flow: column nowrap;
                    overflow: hidden;

                    /*Header*/
                    .section-header {
                        width: 100%;
                        height: 8%;
                        display: flex;
                        flex-flow: row wrap;
                        align-content: center;

                        .logo {
                            width: 30%;
                            color: $grey;
                            a {
                                @include links($grey, $pink, $pink);
                            }
                        }

                        nav {
                            width: 70%;
                            text-align: right;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;

                                li {
                                    display: inline-block;
                                    padding-left: 20px;

                                    a {
                                        @include links($grey, $pink, $pink);
                                        &:hover {
                                            transition: 0.4s ease-in;
                                            text-decoration: underline;
                                        }
                                    }

                                    .active {
                                        color: $purple !important;

                                    }
                                }
                            }
                        }
                    }

                    /*Main*/
                    .section-main {
                        width: 100%;
                        height: 84%;
                    }

                    /*Footer*/
                    .section-footer {
                        width: 100%;
                        height: 8%;
                        display: flex;
                        flex-flow: row wrap;
                        align-content: center;

                        .footer-icons {
                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;

                                li {
                                    display: inline-block;
                                    padding-right: 10px;

                                    a {
                                        @include links($purple, $grey, $pink);
                                        &:hover {
                                            transition: 0.4s ease-in;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
