/* Error: Undefined mixin.
 *    ,
 * 39 |                         @include links($lightgrey, $grey, $pink);
 *    |                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass/layout/desktop_base_layout.scss 39:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 39 \2502                          @include links($lightgrey, $grey, $pink);\a    \2502                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass/layout/desktop_base_layout.scss 39:25  root stylesheet";
}
