//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

// Font Variables
$roboto: 'Roboto', sans-serif;
$karla: 'Karla', sans-serif;

// Font Styles

body {
    font-family: $karla;
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    line-height: 1.6;

    h1 {
        font-family: $roboto;
        font-size: 3.5rem;
        font-weight: 400;
        color: white;
    }
    h2 {
        font-family: $roboto;
        font-size: 2.2rem;
        font-weight: 400;
        color: white;
    } 
    h3 {
        font-family: $roboto;
        font-size: 1.4rem;
        font-weight: 400;
        color: #787878;
    }
    h4 {
        font-family: $roboto;
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
    }
    h5 {
        font-family: $roboto;
        font-size: 1.2rem;
        font-weight: 400;
    }
}