//COLOURS
$beige: #E0B8B8;
$peach: #E0B8C9;
$pink: #E0B8DD;
$purple: #C9B8E0;
$blue: #B8C2E0;
$bodytext: #2d2d2d;
$darkgrey: rgba(0, 0, 0, 0.5);
$grey: #787878;
$lightgrey: #D8D8D8;

//Home Background Gradient
$hg1: #E0B8DD;
$hg2: #F4DCE6;
$home-gradient: $hg1, $hg2; 

//About Background Gradient
$ag1: rgba(224, 184, 201, 100%);
$ag2: rgba(187, 136, 204, 86%);
$about-gradient: $ag1, $ag2;

//Project Box Gradient
$pg1: $beige, $peach;
$pg2: $peach, $pink;
$pg3: $pink, $purple;
$pg4: $purple, $blue;