/*==============MOBILE PORTRAIT==============*/
@media (min-width: 320px) and (max-width: 480px) {
    html {
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
            font-size: 16px;
            @include gradient(to bottom, $about-gradient);

            /*Hide desktop*/
            main#desktop {
                display: none !important;
            }

            /*Mobile*/
            main#mobile {
                display: block !important;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;

                /*Header*/
                .header-mob {
                    .navbar-brand {
                        color: white;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);
                    }

                    .navbar-collapse {
                        .navbar-nav {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }

                /*Main*/
                .main {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        hr {
                            width: 40px;
                            border-top: 2px solid white;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 10px;

                                    a {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*==============MOBILE LANDSCAPE==============*/
@media (min-width: 481px) and (max-width: 767px) {
    html {
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
            font-size: 16px;
            @include gradient(to bottom, $about-gradient);

            /*Hide desktop*/
            main#desktop {
                display: none !important;
            }

            /*Mobile*/
            main#mobile {
                display: block !important;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;

                /*Header*/
                .header-mob {
                    .navbar-brand {
                        color: white;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);
                    }

                    .navbar-collapse {

                        /*Make nav links horizontal line*/
                        .navbar-nav {
                            flex-direction: row;
                            justify-content: flex-end;
                            padding-right: 14px;

                            .nav-item {
                                padding-left: 20px;
                                margin-right: 0;
                            }
                        }
                    }
                }

                /*Main*/
                .main {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        hr {
                            width: 40px;
                            border-top: 2px solid white;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 10px;

                                    a {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*==============TABLET PORTRAIT==============*/
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
            font-size: 16px;
            @include gradient(to bottom, $about-gradient);

            /*Hide desktop*/
            main#desktop {
                display: none !important;
            }

            /*Mobile*/
            main#mobile {
                display: block !important;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;

                /*Header*/
                .header-mob {
                    .navbar-brand {
                        color: white;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);
                    }

                    .navbar-collapse {
                        .navbar-nav {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }

                /*Main*/
                .main {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        hr {
                            width: 40px;
                            border-top: 2px solid white;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 10px;

                                    a {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*==============TABLET LANDSCAPE==============*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    html {
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
            font-size: 16px;
            @include gradient(to bottom, $about-gradient);

            /*Hide desktop*/
            main#desktop {
                display: none !important;
            }

            /*Mobile*/
            main#mobile {
                display: block !important;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;

                /*Header*/
                .header-mob {
                    .navbar-brand {
                        color: white;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);
                    }

                    .navbar-collapse {

                        /*Make nav links horizontal line*/
                        .navbar-nav {
                            flex-direction: row;
                            justify-content: flex-end;
                            padding-right: 14px;

                            .nav-item {
                                padding-left: 20px;
                                margin-right: 0;
                            }
                        }
                    }
                }

                /*Main*/
                .main {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        hr {
                            width: 40px;
                            border-top: 2px solid white;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 10px;

                                    a {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*=================DESKTOP===================*/
@media (min-width: 1025px) {
    html {
        scroll-behavior: smooth;

        body {
            width: 100%;
            height: 100%;
            margin: 0 auto;

            /*Hide mobile*/
            main#mobile {
                display: none !important;
            }

            /*Desktop*/
            main#desktop {
                width: 90%;
                height: 100vh;
                margin: 0 auto;

                /*Section containers*/
                .outer-section {
                    width: 100%;
                    height: 100vh;
                    margin: 0 0 100px 0;
                    display: flex;
                    flex-flow: column nowrap;
                    scroll-snap-align: start;

                    /*prev & next page arrows*/
                    .arrow-container {
                        width: 100%;
                        height: auto;
                        margin: 10px 0;
                        text-align: center;

                        .arrow-prev {
                            @include links($lightgrey, $grey, $pink);

                            a {
                                i {
                                    vertical-align: top;
                                }
                            }
                        }

                        .arrow-next {
                            @include links($lightgrey, $grey, $pink);
                        }
                    }

                    /*Inner sections*/
                    .inner-section {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-flow: column nowrap;
                        overflow: hidden;

                        /*Header*/
                        .section-header {
                            width: 100%;
                            height: 8%;
                            display: flex;
                            flex-flow: row wrap;
                            align-content: center;

                            .logo {
                                width: 30%;
                            }

                            nav {
                                width: 70%;
                                text-align: right;

                                ul {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;

                                    li {
                                        display: inline-block;
                                        padding-left: 20px;

                                        a {
                                            @include links($grey, $pink, $pink);

                                            &:hover {
                                                transition: 0.4s ease-in;
                                            }
                                        }

                                        .active {
                                            color: $purple !important;

                                        }
                                    }
                                }
                            }
                        }

                        /*Main*/
                        .section-main {
                            width: 100%;
                            height: 84%;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            text-align: center;
                            @include gradient(to bottom, $about-gradient);
                        }

                        /*Footer*/
                        .section-footer {
                            width: 100%;
                            height: 8%;
                            display: flex;
                            flex-flow: row wrap;
                            align-content: center;


                            .footer-icons {
                                ul {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;

                                    li {
                                        display: inline-block;

                                        a {
                                            @include links($purple, $grey, $pink);

                                            &:hover {
                                                transition: 0.4s ease-in;
                                            }
                                        }

                                    }
                                }
                            }

                            .footer-icons-left {
                                width: 50%;

                                ul {
                                    li {
                                        padding-right: 10px;
                                    }
                                }

                            }

                            .footer-icons-right {
                                width: 50%;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }

}