body {
    main {
        /*HOME SECTION*/
        #outer-home {
            #inner-home {
                div#main-home {
                    @include gradient(to bottom, $home-gradient);
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                    h1 {
                        margin-bottom: 20px;
                    }
                    h2 {

                    }
                }
            }
        }

                /*PROJECTS SECTION*/
                #outer-projects {
                    #inner-projects {
                        div#main-projects {
                            .projects-title {

                            }

                            .projects-carousel-container {
                                
                            }
                        }
                    }
                }
    }
}