/*==============MOBILE PORTRAIT==============*/
@media (min-width: 320px) and (max-width: 480px) {
    html {
        body {
            width: 100vw;
            height: 100%;
            margin: 0 auto;
            font-size: 16px;
            position: relative;
            scroll-behavior: smooth;

            main#desktop {
                display: none !important;
            }

            main#mobile {
                display: block !important;
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: column nowrap;

                .header-mob {
                    .navbar-brand {
                        color: $grey;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);

                    }

                    .navbar-collapse {
                        .navbar-nav {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }


                /*BACK TO TOP ARROW BUTTON*/
                div#back-to-top {
                    /* Hidden by default */
                    display: none;
                    position: fixed;
                    bottom: 5px;
                    right: -2px;
                    /* Make sure it does not overlap */
                    z-index: 99;
                    padding: 15px;

                    a {
                        color: $lightgrey;
                    }
                }

                .main {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        h1 {
                            color: $grey;
                            font-size: 1.3rem;
                            margin: 40px 0 20px 0;
                        }

                        hr {
                            width: 40px;
                            border-top: 2px solid $lightgrey;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 5px;

                                    a {
                                        color: $purple;
                                    }
                                }
                            }
                        }
                    }

                }

                /*PROJECT PREVIEW GRID*/
                .photography-grid-container {
                    width: 100%;
                    height: auto;
                    margin: 40px auto;
                    display: grid;
                    grid-template-columns: 80%;
                    grid-template-rows: auto;
                    gap: 40px 0;
                    justify-content: center;

                }

                .photography {

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

            }
        }
    }
}

/*==============MOBILE LANDSCAPE==============*/
@media (min-width: 481px) and (max-width: 767px) {
    html {
        body {
            width: 100vw;
            height: 100%;
            margin: 0 auto;
            font-size: 16px;
            position: relative;
            scroll-behavior: smooth;

            main#desktop {
                display: none !important;
            }

            main#mobile {
                display: block !important;
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: column nowrap;

                .header-mob {
                    .navbar-brand {
                        color: $grey;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);

                    }

                    .navbar-collapse {
                        .navbar-nav {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }


                /*BACK TO TOP ARROW BUTTON*/
                div#back-to-top {
                    /* Hidden by default */
                    display: none;
                    position: fixed;
                    bottom: 5px;
                    right: -2px;
                    /* Make sure it does not overlap */
                    z-index: 99;
                    padding: 15px;

                    a {
                        color: $lightgrey;
                    }
                }

                .main {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        h1 {
                            color: $grey;
                            font-size: 1.3rem;
                            margin: 40px 0 20px 0;
                        }

                        hr {
                            width: 40px;
                            border-top: 2px solid $lightgrey;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 5px;

                                    a {
                                        color: $purple;
                                    }
                                }
                            }
                        }
                    }

                }

                /*PROJECT PREVIEW GRID*/
                .photography-grid-container {
                    width: 100%;
                    height: auto;
                    margin: 40px auto;
                    display: grid;
                    grid-template-columns: 80%;
                    grid-template-rows: auto;
                    gap: 40px 0;
                    justify-content: center;

                }

                .photography {

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

            }
        }
    }
}

/*==============TABLET PORTRAIT==============*/
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        body {
            width: 100vw;
            height: 100%;
            margin: 0 auto;
            font-size: 16px;
            position: relative;
            scroll-behavior: smooth;

            main#desktop {
                display: none !important;
            }

            main#mobile {
                display: block !important;
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: column nowrap;

                .header-mob {
                    .navbar-brand {
                        color: $grey;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);

                    }

                    .navbar-collapse {
                        .navbar-nav {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }


                /*BACK TO TOP ARROW BUTTON*/
                div#back-to-top {
                    /* Hidden by default */
                    display: none;
                    position: fixed;
                    bottom: 5px;
                    right: -2px;
                    /* Make sure it does not overlap */
                    z-index: 99;
                    padding: 15px;

                    a {
                        color: $lightgrey;
                    }
                }

                .main {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        h1 {
                            color: $grey;
                            font-size: 1.3rem;
                            margin: 40px 0 20px 0;
                        }

                        hr {
                            width: 40px;
                            border-top: 2px solid $lightgrey;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 5px;

                                    a {
                                        color: $purple;
                                    }
                                }
                            }
                        }
                    }
                }

                /*PROJECT PREVIEW GRID*/
                .photography-grid-container {
                    width: 100%;
                    height: auto;
                    margin: 40px auto;
                    display: grid;
                    grid-template-columns: 80%;
                    grid-template-rows: auto;
                    gap: 40px 0;
                    justify-content: center;

                }

                .photography {

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

            }
        }
    }
}

/*==============TABLET LANDSCAPE==============*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)  {
    html {
        body {
            width: 100vw;
            height: 100%;
            margin: 0 auto;
            font-size: 16px;
            position: relative;
            scroll-behavior: smooth;

            main#desktop {
                display: none !important;
            }

            main#mobile {
                display: block !important;
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: column nowrap;

                .header-mob {
                    .navbar-brand {
                        color: $grey;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);

                    }

                    .navbar-collapse {
                        .navbar-nav {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }


                /*BACK TO TOP ARROW BUTTON*/
                div#back-to-top {
                    /* Hidden by default */
                    display: none;
                    position: fixed;
                    bottom: 5px;
                    right: -2px;
                    /* Make sure it does not overlap */
                    z-index: 99;
                    padding: 15px;

                    a {
                        color: $lightgrey;
                    }
                }

                .main {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        h1 {
                            color: $grey;
                            font-size: 1.3rem;
                            margin: 40px 0 20px 0;
                        }

                        hr {
                            width: 40px;
                            border-top: 2px solid $lightgrey;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 5px;

                                    a {
                                        color: $purple;
                                    }
                                }
                            }
                        }
                    }
                }

                /*PROJECT PREVIEW GRID*/
                .photography-grid-container {
                    width: 100%;
                    height: auto;
                    margin: 40px auto;
                    display: grid;
                    grid-template-columns: 80%;
                    grid-template-rows: auto;
                    gap: 40px 0;
                    justify-content: center;

                }

                .photography {

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

            }
        }
    }
}

/*==============IPAD PRO==============*/
@media (min-width: 1024px) and (max-width: 1366px)  {
    html {
        body {
            width: 100vw;
            height: 100%;
            margin: 0 auto;
            font-size: 16px;
            position: relative;
            scroll-behavior: smooth;

            main#desktop {
                display: none !important;
            }

            main#mobile {
                display: block !important;
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: column nowrap;

                .header-mob {
                    .navbar-brand {
                        color: $grey;
                    }

                    .navbar-toggler {
                        border-color: rgba(0, 0, 0, 0);

                    }

                    .navbar-collapse {
                        .navbar-nav {
                            text-align: right;
                            padding-right: 10px;
                        }
                    }
                }


                /*BACK TO TOP ARROW BUTTON*/
                div#back-to-top {
                    /* Hidden by default */
                    display: none;
                    position: fixed;
                    bottom: 5px;
                    right: -2px;
                    /* Make sure it does not overlap */
                    z-index: 99;
                    padding: 15px;

                    a {
                        color: $lightgrey;
                    }
                }

                .main {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;

                    .heading {
                        text-align: center;

                        h1 {
                            color: $grey;
                            font-size: 1.3rem;
                            margin: 40px 0 20px 0;
                        }

                        hr {
                            width: 40px;
                            border-top: 2px solid $lightgrey;
                        }

                        .social-links {
                            width: 100%;
                            height: auto;
                            margin-top: 20px;

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    padding: 0 5px;

                                    a {
                                        color: $purple;
                                    }
                                }
                            }
                        }
                    }
                }

                /*PROJECT PREVIEW GRID*/
                .photography-grid-container {
                    width: 100%;
                    height: auto;
                    margin: 40px auto;
                    display: grid;
                    grid-template-columns: 80%;
                    grid-template-rows: auto;
                    gap: 40px 0;
                    justify-content: center;

                }

                .photography {

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

            }
        }
    }
}